<div class="numpad-background">
    <div class="numpad-content-container">
        <div data-ui="numpad-content" class="numpad-content">
            <div data-ui="numpad-title" class="numpad-title"></div>
            <div data-ui="numpad-frame" class="numpad-frame">
                <div data-ui="numpad-content" class="numpad-content">
                    <div class="wrapper">
                        <div class="infoblock">
                            <!-- <div data-ui="infoblock-limits-label"></div> -->
                            <div class="infoelement">
                                <div data-ui="input-limit-minimum-label" class="label"></div>
                                <div data-ui="input-limit-minimum" class="value"></div>
                                <div data-ui="input-limit-maximum-label" class="label"></div>
                                <div data-ui="input-limit-maximum" class="value"></div>
                            </div>
                            <div class="display">
                                <div data-ui="numpad-button-plusMinus" class="button">±</div>
                                <div class="input-display">
                                    <input data-ui="numpad-input-display" type="text" value="" inputmode="none" />
                                </div>
                                <div data-ui="numpad-unit" class="numpad-unit"></div>
                            </div>
                            <div class="err-text-container">
                                <div data-ui="error-message" class="err-text"></div>
                            </div>
                        </div>

                        <div class="numblock">
                            <div class="clear"></div>
                            <div class="button3block">
                                <div class="num-item">
                                    <div class="button" data-ui="numpad-button-7">7</div>
                                </div>
                                <div class="num-item">
                                    <div class="button" data-ui="numpad-button-8">8</div>
                                </div>
                                <div class="num-item">
                                    <div class="button" data-ui="numpad-button-9">9</div>
                                </div>
                            </div>
                            <div class="button3block">
                                <div class="num-item">
                                    <div class="button" data-ui="numpad-button-4">4</div>
                                </div>
                                <div class="num-item">
                                    <div class="button" data-ui="numpad-button-5">5</div>
                                </div>
                                <div class="num-item">
                                    <div class="button" data-ui="numpad-button-6">6</div>
                                </div>
                            </div>
                            <div class="button3block">
                                <div class="num-item">
                                    <div class="button" data-ui="numpad-button-1">1</div>
                                </div>
                                <div class="num-item">
                                    <div class="button" data-ui="numpad-button-2">2</div>
                                </div>
                                <div class="num-item">
                                    <div class="button" data-ui="numpad-button-3">3</div>
                                </div>
                            </div>

                            <div class="button3block">
                                <div class="num-item comma">
                                    <div class="button" data-ui="numpad-button-dot">.</div>
                                </div>
                                <div class="num-item">
                                    <div class="button" data-ui="numpad-button-0">0</div>
                                </div>
                                <div class="num-item backspace">
                                    <div class="button" data-ui="numpad-button-backspace">⌫</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="buttonblock">
                        <div class="button" data-ui="numpad-button-close"></div>
                        <div class="button" data-ui="numpad-button-ok"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
