.node-06a8sw4ty6o {
  width: 264px!important;
  height: auto!important;
  margin-left: 50px!important
}
.node-0skkoinjz4q {
  margin: 16px!important;
  background: #c4bfbf!important
}
.node-1azvt47oau7 {
  width: auto!important;
  height: auto!important;
  padding-top: 20px!important;
  padding-right: 8px!important;
  padding-left: 8px!important
}
.node-1azvt47oau7 .iq-label:not(.iq-toggle-label) {
  font-weight: initial!important
}
.node-1azvt47oau7 .iq-button.iq-on-state {
  background: #57e255!important;
  font-weight: 700!important;
  color: #000!important
}
.node-1azvt47oau7 .iq-button.iq-off-state {
  background: #758fdb!important;
  font-weight: 700!important;
  color: #000!important
}
.node-2347ujqpbek {
  padding: 6px!important
}
.node-2347ujqpbek .iq-text {
  font-family: monospace!important;
  font-weight: 700!important;
  text-align: center!important;
  color: #000!important
}
.node-2q2a8m7gop1 {
  padding: 4px!important;
  width: 15%!important;
  margin-right: 4px!important
}
.node-2q2a8m7gop1 .iq-label {
  font-weight: 700!important;
  color: #000!important
}
.node-2q2a8m7gop1 .iq-input {
  font-size: 120%!important;
  font-weight: 700!important;
  text-align: center!important;
  color: #000!important
}
.node-34qdmoklpzc {
  padding: 4px!important;
  width: 15%!important;
  margin-right: 4px!important
}
.node-34qdmoklpzc .iq-label,
.node-34qdmoklpzc .iq-unit {
  font-weight: 700!important;
  color: #000!important
}
.node-34qdmoklpzc .iq-input {
  font-size: 150%!important;
  font-weight: 700!important;
  text-align: center!important
}
.node-4gfn7hum0w4 {
  flex: 0 0 auto!important;
  margin-right: 16px!important;
  margin-left: 16px!important;
  background: #8d8b8b!important;
  height: 150px!important
}
.node-55bm8mj6kms .iq-unit,
.node-55bm8mj6kms .iq-value {
  font-weight: 700!important;
  color: #000!important
}
.node-6b13tcq0899 {
  flex: 100 0 auto!important
}
.node-6b13tcq0899 .iq-date-time {
  font-family: monospace!important;
  font-size: 130%!important;
  font-weight: 700!important
}
.node-6n8t07zhevl {
  height: 86px!important;
  flex: 1 1 auto!important
}
.node-6xnmzxvkb6s {
  height: 139px!important;
  flex: 1 1 auto!important;
  margin: 16px!important;
  padding: 8px!important;
  background: #b6afaf!important;
  width: 984px!important
}
.node-7umdf8bq484 {
  padding: 4px!important;
  width: 15%!important;
  margin-right: 4px!important
}
.node-7umdf8bq484 .iq-label,
.node-7umdf8bq484 .iq-unit {
  font-weight: 700!important;
  color: #000!important
}
.node-7umdf8bq484 .iq-input {
  font-size: 150%!important;
  font-weight: 700!important;
  text-align: center!important
}
.node-7xwplq4fdtm {
  flex: 1 0 auto!important;
  padding: 16px!important
}
.node-7xwplq4fdtm .iq-text {
  font-weight: 700!important;
  color: #000!important
}
.node-83k4l2bdzx5 {
  background: #f9f1f1!important
}
.node-8epsejizeub {
  margin: 16px!important;
  background: #b2aeae!important
}
.node-97hct70pun5 {
  height: 100%!important
}
.node-988lttj5lmm {
  padding: 4px!important;
  width: 15%!important;
  margin-right: 4px!important
}
.node-988lttj5lmm .iq-label {
  font-weight: 700!important;
  color: #000!important
}
.node-988lttj5lmm .iq-input {
  font-size: 150%!important;
  font-weight: 700!important;
  text-align: center!important
}
.node-9zxqkw3eew9 {
  flex: 1 1 auto!important
}
.node-awt76om3n2a {
  flex: 1 0 auto!important;
  padding: 16px!important
}
.node-awt76om3n2a .iq-text {
  font-weight: 700!important;
  color: #000!important
}
.node-azwcxtamfu6 {
  padding: 4px!important;
  width: 15%!important;
  margin-right: 4px!important
}
.node-azwcxtamfu6 .iq-label {
  font-weight: 700!important;
  color: #000!important
}
.node-azwcxtamfu6 .iq-input {
  font-size: 150%!important;
  font-weight: 700!important;
  text-align: center!important;
  color: #000!important
}
.node-azwcxtamfu6 .iq-unit {
  font-weight: 700!important;
  color: #000!important
}
.node-bko5xglx72 {
  margin-right: 0!important;
  margin-left: 8px!important;
  border-style: solid!important;
  padding: 6px!important
}
.node-bko5xglx72 .iq-label,
.node-bko5xglx72 .iq-unit {
  font-weight: 700!important;
  color: #000!important
}
.node-bko5xglx72 .iq-input {
  font-size: 100%!important;
  font-weight: 700!important;
  text-align: center!important
}
.node-bxyjqvof2mi {
  flex: 1 0 auto!important;
  padding: 16px!important;
  width: 56px!important
}
.node-bxyjqvof2mi .iq-text {
  font-weight: 700!important;
  color: #000!important
}
.node-byc02wssqrc {
  padding: 4px!important;
  width: 15%!important;
  margin-right: 4px!important
}
.node-byc02wssqrc .iq-input {
  font-size: 150%!important;
  font-weight: 700!important;
  text-align: center!important;
  color: #000!important
}
.node-byc02wssqrc .iq-label,
.node-byc02wssqrc .iq-unit {
  font-weight: 700!important;
  color: #000!important
}
.node-c497m7h78bq {
  height: 100%!important;
  margin: 16px!important;
  padding: 16px!important;
  background: #f2eded!important
}
.node-djhzmak8rc {
  height: 70%!important;
  margin-top: 20px!important;
  margin-right: 30px!important;
  margin-left: auto!important
}
.node-duajyoy25pv {
  padding: 4px!important;
  width: 15%!important;
  margin-right: 4px!important
}
.node-duajyoy25pv .iq-label,
.node-duajyoy25pv .iq-unit {
  font-weight: 700!important;
  color: #000!important
}
.node-duajyoy25pv .iq-input {
  font-size: 150%!important;
  font-weight: 700!important;
  text-align: center!important
}
.node-dwlbomd1f0j {
  width: auto!important;
  height: 15%!important;
  margin: 16px!important;
  background: #a7e2f1!important
}
.node-dxg6m4r8hbd {
  padding: 4px!important;
  width: 15%!important;
  margin-right: 4px!important
}
.node-dxg6m4r8hbd .iq-label,
.node-dxg6m4r8hbd .iq-unit {
  font-weight: 700!important;
  color: #000!important
}
.node-dxg6m4r8hbd .iq-input {
  font-size: 150%!important;
  font-weight: 700!important;
  text-align: center!important;
  color: #000!important
}
.node-dyjeyhfrtfk {
  margin: 16px!important;
  background: #c4bfbf!important
}
.node-fruoub3ia3b {
  flex: 1 0 auto!important;
  padding: 16px!important
}
.node-fruoub3ia3b .iq-text {
  font-weight: 700!important;
  color: #000!important
}
.node-gaubgqm67es {
  padding-top: 20%!important;
  padding-right: 8%!important;
  padding-left: 8%!important
}
.node-gaubgqm67es .iq-button.iq-off-state {
  background: #e36464!important;
  font-weight: 700!important;
  color: #000!important
}
.node-gaubgqm67es .iq-button.iq-on-state {
  background: #40dd84!important;
  font-weight: 700!important;
  color: #000!important
}
.node-gdjnbiqqnx {
  flex: 1 0 auto!important;
  padding: 16px!important
}
.node-gdjnbiqqnx .iq-text {
  font-weight: 700!important;
  color: #000!important
}
.node-i8qrjv2wk5a {
  padding: 4px!important;
  width: 15%!important;
  margin-right: 4px!important
}
.node-i8qrjv2wk5a .iq-input {
  font-size: 150%!important;
  font-weight: 700!important;
  font-style: initial!important;
  text-decoration: initial!important;
  text-align: center!important;
  color: #000!important
}
.node-i8qrjv2wk5a .iq-label,
.node-i8qrjv2wk5a .iq-unit {
  font-weight: 700!important;
  color: #000!important
}
.node-iczgy2810ap {
  padding: 4px!important;
  width: 15%!important;
  margin-right: 4px!important
}
.node-iczgy2810ap .iq-label {
  font-weight: 700!important;
  color: #000!important
}
.node-iczgy2810ap .iq-input {
  font-size: 150%!important;
  font-weight: 700!important;
  text-align: center!important;
  color: #000!important
}
.node-iczgy2810ap .iq-unit {
  font-weight: 700!important;
  color: #000!important
}
.node-ikuoqpqjhw {
  height: 108px!important
}
.node-imjz4tm1fp {
  padding-top: 20px!important;
  padding-right: 8px!important;
  padding-left: 8px!important
}
.node-imjz4tm1fp .iq-button.iq-on-state {
  background: #40dd84!important;
  font-weight: 700!important;
  color: #000!important
}
.node-imjz4tm1fp .iq-button.iq-off-state {
  background: #e36464!important;
  font-weight: 700!important;
  color: #000!important
}
.node-iyx2l1u1e8 {
  flex: 1 0 auto!important;
  padding: 16px!important;
  width: 16px!important
}
.node-iyx2l1u1e8 .iq-text {
  font-weight: 700!important;
  text-align: center!important;
  color: #000!important
}
.node-k7lewcvikc {
  padding: 4px!important;
  width: 15%!important;
  margin-right: 4px!important
}
.node-k7lewcvikc .iq-label,
.node-k7lewcvikc .iq-unit {
  font-weight: 700!important;
  color: #000!important
}
.node-k7lewcvikc .iq-input {
  font-family: unset!important;
  font-size: 150%!important;
  font-weight: 700!important;
  text-align: center!important
}
.node-kltq423q3e {
  margin-top: 16px!important
}
.node-kn44ohb44tm {
  height: 300px!important;
  flex: 30 50 auto!important;
  margin-top: 0!important
}
.node-kxfszz52ki {
  padding: 4px!important;
  width: 15%!important;
  margin-right: 4px!important
}
.node-kxfszz52ki .iq-label,
.node-kxfszz52ki .iq-unit {
  font-weight: 700!important;
  color: #000!important
}
.node-kxfszz52ki .iq-input {
  font-size: 150%!important;
  font-weight: 700!important;
  text-align: center!important;
  color: #000!important
}
.node-l1jed9jb7or {
  width: 218px!important;
  height: 142px!important;
  padding: 8px!important
}
.node-l1jed9jb7or .style-holder .sh-canvas .sh-label,
.node-l1jed9jb7or .style-holder .sh-canvas .sh-unit,
.node-l1jed9jb7or .style-holder .sh-canvas .sh-value {
  font-weight: 700!important;
  color: #000!important
}
.node-l6ttiffvzs {
  margin: 16px!important;
  background: #b2aeae!important
}
.node-m5i4q6ky2f {
  height: 100%!important;
  flex: 1 0 auto!important
}
.node-mn913pggtr {
  height: 100%!important;
  margin-bottom: 0!important
}
.node-moyjggxnren {
  height: 100%!important;
  flex: 100 0 auto!important;
  margin-right: 5%!important;
  margin-left: 5%!important;
  padding-right: 16px!important;
  padding-left: 16px!important
}
.node-mx4omr194ib {
  flex: 1 1 auto!important;
  padding: 16px!important
}
.node-mx4omr194ib .style-holder .sh-canvas .sh-label,
.node-mx4omr194ib .style-holder .sh-canvas .sh-unit {
  font-weight: 700!important;
  color: #000!important
}
.node-mx4omr194ib .style-holder .sh-canvas .sh-value {
  font-size: 400%!important;
  font-weight: 700!important;
  color: #000!important
}
.node-n23r2xpfa7 {
  padding-top: 20%!important;
  padding-right: 8%!important;
  padding-left: 8%!important
}
.node-n23r2xpfa7 .iq-button.iq-on-state {
  background: #89e1d7!important;
  font-weight: 700!important;
  color: #000!important
}
.node-n23r2xpfa7 .iq-button.iq-off-state {
  background: #68c07e!important;
  font-weight: 700!important;
  color: #000!important
}
.node-nb01z85q9s9 {
  padding-top: 20%!important;
  padding-right: 8%!important;
  padding-left: 8%!important
}
.node-nb01z85q9s9 .iq-button.iq-off-state {
  background: #e36464!important;
  font-weight: 700!important;
  color: #000!important
}
.node-nb01z85q9s9 .iq-button.iq-on-state {
  background: #40dd84!important;
  font-weight: 700!important;
  color: #000!important
}
.node-nk8mtfkrus {
  padding: 4px!important;
  width: 15%!important;
  margin-right: 4px!important
}
.node-nk8mtfkrus .iq-label,
.node-nk8mtfkrus .iq-unit {
  font-weight: 700!important;
  color: #000!important
}
.node-nk8mtfkrus .iq-input {
  font-size: 150%!important;
  font-weight: 700!important;
  text-align: center!important
}
.node-nq5oe3r7idq {
  margin: 0 16px!important;
  padding: 6px!important
}
.node-nq5oe3r7idq .iq-button.iq-on-state {
  background: #3cc35e!important;
  font-size: 120%!important;
  font-weight: 700!important;
  color: #000!important
}
.node-nq5oe3r7idq .iq-button.iq-off-state {
  background: #81a9ea!important;
  font-size: 120%!important;
  font-weight: 700!important;
  color: #000!important
}
.node-nstu1kozf7 {
  height: 10%!important
}
.node-o4zxj2xj5dl {
  margin-right: 8px!important;
  margin-left: 8px!important;
  border-color: #000!important;
  border-style: solid!important;
  padding: 6px!important
}
.node-o4zxj2xj5dl .iq-button.iq-on-state {
  background: #3ba41e!important;
  font-size: 120%!important;
  font-weight: 700!important;
  color: #000!important
}
.node-o4zxj2xj5dl .iq-button.iq-off-state {
  background: #81a9ea!important;
  font-size: 120%!important;
  font-weight: 700!important;
  color: #000!important
}
.node-ocstazk4ez9 {
  padding: 4px!important;
  width: 15%!important;
  margin-right: 4px!important
}
.node-ocstazk4ez9 .iq-label {
  font-weight: 700!important;
  color: #000!important
}
.node-ocstazk4ez9 .iq-input {
  font-size: 120%!important;
  font-weight: 700!important;
  text-align: center!important;
  color: #000!important
}
.node-ojda6aopi58 {
  flex: 1 1 auto!important;
  margin: 16px 16px 16px 2px!important;
  padding: 4px!important;
  width: 786px!important
}
.node-ojda6aopi58 .iq-label,
.node-ojda6aopi58 .iq-unit {
  font-weight: 700!important;
  color: #000!important
}
.node-olpi9qsnun {
  padding: 4px!important;
  width: 15%!important;
  margin-right: 4px!important
}
.node-olpi9qsnun .iq-label {
  font-weight: 700!important;
  color: #000!important
}
.node-olpi9qsnun .iq-input {
  font-size: 120%!important;
  font-weight: 700!important;
  text-align: center!important;
  color: #000!important
}
.node-p1x8ozolsy {
  padding: 4px!important;
  width: 15%!important;
  margin-right: 4px!important
}
.node-p1x8ozolsy .iq-input {
  font-size: 150%!important;
  font-weight: 700!important;
  text-align: center!important;
  color: #000!important
}
.node-p1x8ozolsy .iq-label,
.node-p1x8ozolsy .iq-unit {
  font-weight: 700!important;
  color: #000!important
}
.node-pazb4s56ywe {
  height: 100%!important
}
.node-pmq0umw71j {
  padding: 4px!important;
  width: 15%!important;
  margin-right: 4px!important
}
.node-pmq0umw71j .iq-label,
.node-pmq0umw71j .iq-unit {
  font-weight: 700!important;
  color: #000!important
}
.node-pmq0umw71j .iq-input {
  font-size: 150%!important;
  font-weight: 700!important;
  text-align: center!important;
  color: #000!important
}
.node-pmqp9xwuw9 {
  width: 1000px!important;
  flex: 1 1 auto!important;
  margin: 8px 16px 8px 25px!important;
  padding: 4px!important
}
.node-pmqp9xwuw9 .iq-label,
.node-pmqp9xwuw9 .iq-unit,
.node-pmqp9xwuw9 .iq-value {
  font-weight: 700!important;
  color: #000!important
}
.node-pp0fmr7izu {
  width: auto!important;
  height: auto!important
}
.node-pul9l434tv {
  flex: 100 0 auto!important;
  margin-bottom: 16px!important;
  border-radius: 5px!important;
  border: 2px double #0d0d0d!important
}
.node-qtv2sbfmau {
  height: 231px!important;
  margin: 16px!important;
  background: #f1eaea!important
}
.node-qzs1ernaf5d {
  width: 100%!important;
  height: 50%!important
}
.node-rfbr21pcp2r {
  position: static!important;
  flex: 100 100 auto!important;
  min-width: 170px!important;
  max-width: 170px!important;
  margin: 16px!important;
  padding: 5px!important;
  border-style: solid!important
}
.node-rfbr21pcp2r .iq-button.iq-on-state {
  background: #f50505!important;
  font-family: unset!important;
  font-size: 25px!important;
  font-weight: 700!important;
  color: #000!important
}
.node-rfbr21pcp2r .iq-button.iq-off-state {
  background: #f70202!important;
  font-family: RobotoBold!important;
  font-size: 25px!important;
  font-weight: initial!important
}
.node-rfbr21pcp2r .iq-icon.iq-toggle-icon {
  border-color: #000!important;
  border-style: double!important
}
.node-s2biyrwicig {
  width: auto!important;
  height: auto!important;
  padding-top: 8px!important;
  padding-right: 8px!important;
  padding-left: 8px!important
}
.node-s2biyrwicig .iq-button.iq-on-state {
  background: #06db1e!important;
  font-weight: 700!important;
  color: #000!important
}
.node-s2biyrwicig .iq-button.iq-off-state {
  background: #758fdb!important;
  font-weight: 700!important;
  color: #000!important
}
.node-sfypuv7sa69 {
  flex: 1 0 auto!important;
  padding: 16px!important
}
.node-sfypuv7sa69 .iq-text {
  font-weight: 700!important;
  color: #000!important
}
.node-t1dl45tov9 {
  flex: 1 0 auto!important;
  padding: 16px!important
}
.node-t1dl45tov9 .iq-text {
  font-weight: 700!important;
  color: #000!important
}
.node-tf3tgwqju7 {
  margin: 16px!important;
  background: #b2aeae!important
}
.node-tve3lyo4vtg {
  flex: 1 1 auto!important;
  padding: 16px!important
}
.node-tve3lyo4vtg .style-holder .sh-canvas .sh-label,
.node-tve3lyo4vtg .style-holder .sh-canvas .sh-unit {
  font-weight: 700!important;
  color: #000!important
}
.node-tve3lyo4vtg .style-holder .sh-canvas .sh-value {
  font-size: 400%!important;
  font-weight: 700!important;
  color: #000!important
}
.node-tzcyu1gd8q {
  flex: 1 1 auto!important;
  padding: 16px!important
}
.node-tzcyu1gd8q .style-holder .sh-canvas .sh-label,
.node-tzcyu1gd8q .style-holder .sh-canvas .sh-unit {
  font-weight: 700!important;
  color: #000!important
}
.node-tzcyu1gd8q .style-holder .sh-canvas .sh-value {
  font-size: 400%!important;
  font-weight: 700!important;
  color: #000!important
}
.node-uapakfv7wga {
  margin-bottom: 16px!important;
  margin-left: 16px!important;
  padding: 0!important;
  background: #b2aeae!important;
  flex: 1 1 auto!important
}
.node-veskoom07f {
  padding: 4px!important;
  width: 15%!important;
  flex: 0 0 auto!important;
  margin-right: 4px!important
}
.node-veskoom07f .iq-label {
  font-weight: 700!important;
  color: #000!important
}
.node-veskoom07f .iq-input {
  font-size: 120%!important;
  font-weight: 700!important;
  text-align: center!important;
  color: #000!important
}
.node-vygpr1xzkqb {
  width: 100%!important;
  height: 50%!important
}
.node-wb06xim6nqb {
  margin: 16px!important;
  background: #b2aeae!important
}
.node-wpz0yy9t6ro {
  flex: 1 1 auto!important;
  margin: 0 16px 16px!important;
  background: #43b0f4!important
}
.node-xd2pbdj60ta {
  padding-top: 20px!important;
  padding-right: 8px!important;
  padding-left: 8px!important
}
.node-xd2pbdj60ta .iq-button {
  background: #108e12!important
}
.node-xd2pbdj60ta .iq-label {
  font-family: unset!important;
  font-size: 100%!important;
  font-weight: 700!important;
  color: #000!important
}
.node-xmsypwf33q {
  height: 100%!important;
  margin: 16px!important;
  padding: 16px!important;
  background: #fafafa!important
}
.node-y5l4p1w3q0o {
  height: 100%!important
}
.node-y70xw0r9mz {
  width: auto!important;
  height: auto!important
}