<div data-ui="container" class="">
    <div class="margin-compensator">
        <div data-ui="text2" data-text="${select-trend-dialog-content-text}" class="multiline"></div>
        <!-- available colors need to be set onto radio-options directly -->
        <div data-name="select-radio-anchor"></div>
    </div>
</div>

<div  class="dialog-footer container">
    <div data-ui="button" data-name="button-cancel-config" data-label="${cancel}"></div>
    <div data-ui="button" data-name="button-apply-config" data-label="${okay}"></div>
</div>
