<div data-ui="checkbox" data-config-name="@select-checkbox-config" class="col1"></div>
<div data-ui="text2"  data-config-name="@var-name-config" class="col2"></div>
<div class="unit-display col3">
    <div data-ui="text2" data-text="["></div>
    <div data-ui="text2"  data-config-name="@unit-config"></div>
    <div data-ui="text2" data-text="]"></div>
</div>
<div class="graph-style-selection col4">
    <!--<div data-ui="group" data-config-name="controls/trend-select/graph-style" class="graph-style"></div>-->
    <div class="graph-style">
        <div data-name="line-style" class="line-style"></div>
        <div class="icon">
            <svg
                    xmlns:svg="http://www.w3.org/2000/svg"
                    xmlns="http://www.w3.org/2000/svg"
                    width="36px"
                    height="36px"
                    viewBox="0 0 36 36"
                    version="1.1">
                <g
                        id="g15"
                        transform="matrix(0.75,0,0,0.75,4.5,4.625)">
                    <rect
                            style="fill:#000000;fill-opacity:0.50196078;fill-rule:evenodd;stroke:none;stroke-width:1"
                            height="3"
                            width="28"
                            y="9"
                            x="4"
                            id="Rectangle-2" />
                    <rect
                            style="fill:#000000;fill-opacity:0.50196078;fill-rule:evenodd;stroke:none;stroke-width:1"
                            height="3"
                            width="28"
                            y="17"
                            x="4"
                            id="Rectangle-2-Copy" />
                    <rect
                            style="fill:#000000;fill-opacity:0.50196078;fill-rule:evenodd;stroke:none;stroke-width:1"
                            height="3"
                            width="28"
                            y="25"
                            x="4"
                            id="Rectangle-2-Copy-2" />
                </g>
            </svg>


        </div>
        <div data-ui="button" data-config-name="@button-config" class="transparent"></div>
    </div>
</div>
<div data-ui="checkbox" data-config-name="@scale-checkbox-config" class="col5"></div>