<div data-ui="container" class="auto-margin recipe-dialog-content">
    <div data-ui="local-script" data-module="recipe-controller.ls.recipe-name" data-name="nameScript"></div>
    <div data-ui="input-field" data-label="" data-name="recipeName"></div>
    <div data-ui="container" class="dialog-footer auto-margin" data-type="flex" data-flex-orientation="row">
        <div data-ui="button" data-label="${recipe-controller.label.ok}" data-name="apply"></div>
        <div data-ui="button" data-label="${recipe-controller.label.cancel}" data-name="cancel" data-function="close"></div>
    </div>
</div>
