<div data-ui="alarm-info-wrapper" class="alarm-info-wrapper">
    <div data-ui="alert-list-button" class="alert-list-button">
        <!--<div class="">-->
        <div class="state-symbol">
            <div data-ui="state" class="state service">
                <!--<img data-ui="icon" src="./pics/system/controls/alarm-info/ico_service_outline.svg" class="icon" width="30" height="30">-->
            </div>
            <div data-ui="state" class="state warning">
                <!--<img data-ui="icon" src="./pics/system/controls/alarm-info/ico_warning_outline.svg" class="icon" width="30" height="30">-->
            </div>
            <div data-ui="state" class="state alarm ">
                <!--<img data-ui="icon" src="./pics/system/controls/alarm-info/ico_alarm_outline.svg" class="icon" width="30" height="30">-->
            </div>
        </div>
        <div class="alarm-info-panel">
            <div data-ui="last-alarm-msg" class="last-alarm-msg"> </div>
            <div data-ui="last-alarms-num" class="last-alarms-num">0</div>
        </div>
        <!--</div>-->
    </div>
</div>
