<div class="overlay-keyboard-container">
    <div class="keyboard-title keyboard-controls">
        <div class="keyboard-control language-control" data-ui="language-control"></div>
        <div class="keyboard-control close-button" data-ui="close-button"></div>
    </div>
    <div class="text-preview-container">
        <textarea class="text-preview" data-ui="text-preview" inputmode="none"></textarea>
        <div class="keyboard-control pw-button" data-ui="pw-button"></div>
        <div class="keyboard-control submit-button"data-ui="submit-button"></div>
    </div>
    <div class="keyboard-frame">
        <div class="keyboard-wrapper">
            <div class="keyboard-container" data-ui="keyboard-container"></div>
        </div>
    </div>
</div>
