<div data-ui="ct2-ctrl-panel" class="ct2-ctrl-panel"></div>
<div data-ui="ct2-table-container" class="ct2-table-container">
    <div data-ui="ct2-table-content-container" class="ct2-table-content-container">
        <div data-ui="ct2-table-header-container" class="ct2-table-header-container">
            <table data-ui="ct2-table-header" class="ct2-table-header">
            </table>
        </div>
        <div data-ui="ct2-table-filters-container" class="ct2-table-filter-container">
            <table data-ui="ct2-table-filters" class="ct2-table-filters">
            </table>
        </div>
        <div class="table-loading-overlay"></div>
        <div data-ui="ct2-table-body-container" class="ct2-table-body-container">
            <table data-ui="ct2-table" class="ct2-table-body">
                <tbody data-ui="ct2-table-body"></tbody>
                <tbody data-ui="ct2-table-body"></tbody>
                <tbody data-ui="ct2-table-body"></tbody>
            </table>
        </div>
    </div>
</div>
<div data-ui="ct2-footer" class="ct2-footer"></div>
