<div class="dialog-background">
    <div class="dialog-content-container">
        <div data-ui="dialog-content" class="dialog-window">

            <div class="dialog-header">
                <div data-ui="dialog-box-title" class="dialog-box-title"></div>
                <div data-ui="button" data-template="default/button_with_bg_pic" data-function="close" class="icon-only close"></div>
            </div>
            <div data-ui="dialog-box-frame" class="dialog-box-frame">
                <div data-ui="dialog-box-content" class="dialog-box-content"></div>
            </div>
        </div>
    </div>
</div>
