<div data-ui="gpsb-container" class="gpsb-container">
    <div data-ui="gpsb-slider-track" class="gpsb-slider-track">
        <div data-ui="gpsb-slider-handle" class="gpsb-slider-handle-touch-area">
            <div data-ui="gpsb-slider-handle-visible" class="gpsb-slider-handle">
            </div>
        </div>
    </div>
    <div data-ui="gpsb-btn-panel" class="gpsb-btn-panel">
        <div data-ui="gpsb-btn-up" class="gpsb-btn-up"></div>
        <div data-ui="gpsb-btn-down" class="gpsb-btn-down"></div>
    </div>
</div>
