<div class="iq-widget-container">
    <div class="iq-widget-header">
        <div class="header-row">
            <div class="filter-label headline label" data-ui="label"></div>
            <div class="confirm-button-container" data-ui="confirmButtons"></div>
        </div>
        <div class="header-row">
            <div class="filter-check-box-level" >
                <div class="icon-check-box-error icon" data-ui="iconError"></div>
                <div class="filter-check-box-error" data-ui="filterCheckBoxError"></div>
                <div class="icon-check-box-warn icon" data-ui="iconWarn"></div>
                <div class="filter-check-box-warn" data-ui="filterCheckBoxWarn"></div>
                <div class="icon-check-box-advise icon" data-ui="iconAdvise"></div>
                <div class="filter-check-box-advise " data-ui="filterCheckBoxAdvise"></div>
            </div>
            <div class="filter-area">
                <div class="filter-line">
                    <div data-ui="filterGroupSelectBox" class="filter-group-select-box"></div>
                    <div data-ui="mode-select-box" class="mode-select-box"></div>

                    <div data-ui="filter-button" class="filter-toggle button">
                        <div data-ui="filter-label" class="button-label"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="iq-widget-content">
        <div class="content-row">
            <div class="alarm-list-container two-rows" data-ui="alarmList"></div>
            <div class="filter-footer">
                <div class="filter-display">
                    <div data-ui="time-frame-label" class="set-filter-info"></div>
                    <div data-ui="start-date" class="set-filter-info"></div>
                    <div class="set-filter-info"> - </div>
                    <div data-ui="end-date" class="set-filter-info"></div>
                </div>
                <div data-ui="reset-button" class="reset-button">
                    <div data-ui="reset-button-label" class="reset-button-label">X</div>
                </div>
            </div>
        </div>
        <div class="content-row">
            <div class="alarm-list-details-side" data-ui="alarmListDetails"></div>
        </div>
    </div>
</div>
