<div class="iq-widget-container">
    <div class="iq-widget-header">
        <div data-ui="icon" class="iq-icon"></div>
        <span data-ui="label" class="iq-label"></span>
        <span data-ui="unit" class="iq-unit"></span>
    </div>
    <div class="iq-widget-content">
        <input data-ui="current" class="iq-current iq-input">
        <div data-ui="previous" class="iq-button iq-previous"><div class="button-icon"></div></div>
        <div data-ui="next" class="iq-button iq-next"><div class="button-icon"></div></div>
    </div>
</div>
