<div class="iq-widget-container">
    <div class="iq-widget-content">
        <div data-ui="icon" class="iq-icon"></div>
        <div class="valign-container"><div data-ui="label" class="iq-label"></div></div>
        <div data-ui="previous" class="iq-button iq-previous"><div class="button-icon"></div></div>
        <input data-ui="current" class="iq-current iq-input">
        <div data-ui="next" class="iq-button iq-next"><div class="button-icon"></div></div>
        <div class="valign-container"><div data-ui="unit" class="iq-unit"></div></div>
    </div>
</div>
