<div class="iq-widget-container">
    <div class="iq-widget-header">
        <div data-ui="icon" class="iq-icon"></div>
        <div class="valign-container"><span data-ui="label" class="iq-label"></span></div>
    </div>
    <div data-ui="button" class="iq-button iq-widget-content iq-off-state">
        <div data-ui="off-state" class="state-container iq-off-state-container">
            <div class="valign-container"><span data-ui="label" class="iq-label iq-toggle-label"></span></div>
            <div data-ui="toggle-icon" class="icon iq-icon iq-toggle-icon"></div>
        </div>
        <div data-ui="on-state" class="state-container iq-on-state-container">
            <div class="valign-container"><span data-ui="label" class="iq-label iq-toggle-label"></span></div>
            <div data-ui="toggle-icon" class="icon iq-icon iq-toggle-icon"></div>
        </div>
    </div>
</div>
