<div class="iq-widget-container">
    <div data-ui="icon" class="iq-icon"></div>
    <div class="valign-container text-container"><span data-ui="label" class="iq-label"></span></div>
    <div data-ui="handle-box" class="iq-input">
        <div class="iq-box-on valign-container"><span data-ui="label-on" class="iq-label state-label"></span></div>
        <div class="iq-box-off valign-container"><span data-ui="label-off" class="iq-label state-label"></span></div>
        <div data-ui="handle" class="iq-handle iq-button"></div>
    </div>
</div>
