<div class="iq-widget-container">
    <div class="iq-widget-header">
        <div class="iq-icon" data-ui="icon"></div>
        <div class="valign-container">
            <span class="iq-label" data-ui="label"></span>
        </div>
    </div>
    <div class="iq-widget-content">
        <input type="text" data-ui="input" class="iq-input">
        <textarea data-ui="textarea" class="iq-input multiline"></textarea>
        <div class="valign-container"><span class="iq-unit" data-ui="unit"></span></div>
    </div>
</div>
