<div class="iq-widget-container">
    <div data-ui="icon" class="iq-icon"></div>
    <div class="valign-container iq-priv-text-container iq-priv-label-container"><span data-ui="label" class="iq-label"></span></div>
    <div class="iq-widget-content">
        <div class="halign-container">
            <div class="iq-priv-value-container">
                <div class="valign-container"><span data-ui="value" class="iq-value"></span></div>
                <div class="iq-separator"></div>
            </div>
        </div>
        <div class="iq-priv-scaling-helper">
            <div class="iq-priv-spacer"></div>
            <div class="iq-bar-container">
                <div data-ui="bar" class="iq-bar-fill"></div>
            </div>
            <div class="iq-priv-spacer"></div>
        </div>
    </div>
    <div class="valign-container iq-priv-text-container iq-priv-unit-container"><span data-ui="unit" class="iq-unit"></span></div>
</div>
