<div class="iq-widget-container">
    <div class="iq-widget-content">
        <div data-ui="icon" class="iq-icon"></div>
        <div class="valign-container"><span data-ui="label" class="iq-label"></span></div>
        <div class="iq-priv-value-container">
            <span data-ui="value" class="iq-value"></span>
            <div class="iq-separator"></div>
        </div>
        <div class="valign-container"><span data-ui="unit" class="iq-unit"></span></div>
    </div>
    <div class="iq-widget-footer">
        <div data-ui="bar-container" class="iq-bar-container">
            <div data-ui="bar" class="iq-bar-fill"></div>
            <div data-ui="indicator-line" class="iq-priv-control-indicator-line"></div>
        </div>
        <div class="iq-priv-control-indicator-container">
            <svg data-ui="indicator" version="1.1" viewBox="0 0 13 5" xmlns="http://www.w3.org/2000/svg" class="iq-control-indicator-icon">
                <path d="m0.5 4.6009 6-4 6 4" fill="none" stroke="#000" class="iq-indicator-icon-path" />
            </svg>
        </div>
        <div class="iq-priv-spanner"></div>
    </div>
    <div class="iq-widget-footer valign-container iq-priv-control-value-container">
        <span data-ui="control-value" class="iq-control-value"></span>
    </div>
</div>
