<div class="iq-widget-container">
    <canvas data-ui="gauge-canvas" width="0" height="0"></canvas>
</div>

<!-- Used for styling the canvas - do not remove! -->
<div data-ui="style-holder" class="style-holder" style="display: none">
    <div class="sh-canvas" data-ui="canvas">
        <div class="sh-arc-background" data-ui="arc-bg"></div>
        <div class="sh-arc-foreground" data-ui="arc-fg"></div>
        <div class="sh-arc-slice" data-ui="arc-slice"></div>
        <div class="sh-line-value" data-ui="line-value"></div>
        <div class="sh-value" data-ui="value"></div>
        <div class="sh-label" data-ui="label"></div>
        <div class="sh-unit" data-ui="unit"></div>
        <img class="sh-icon-src" data-ui="icon-src">
        <div class="sh-icon-class icon" data-ui="icon-class"></div>
    </div>
</div>
