<div data-ui="iq-widget-container" class="iq-widget-container">
    <div class="iq-widget-content">
        <!-- Mobile layout button-->
        <div data-ui="burger-button" class="burger-button mobile-only">
            <div class="icon burger-icon"></div>
        </div>

        <div class="menu-wrapper">
            <div data-ui="breadcrumbs" class="breadcrumbs">
                <div data-ui="selected-entry-layer-0" class="selected-entry-layer-0">Layer 0</div>
                <div class="separator">></div>
                <div data-ui="selected-entry-layer-1" class="selected-entry-layer-1">Layer 1</div>
            </div>
            <ul data-ui="menu-layer-0" class="menu-layer-0 menu-layer-0-1"></ul>
        </div>
    </div>
</div>
