<div class="iq-widget-container">
    <div class="iq-widget-header">
        <div class="valign-container"><span data-ui="label" class="iq-label"></span></div>
    </div>
    <div class="iq-widget-content">
        <div data-ui="hour-select" class="iq-hour-select iq-box">
            <div data-ui="next" class="iq-next iq-button"></div>
            <input data-ui="current" class="iq-input iq-current" size="1">
            <div data-ui="previous" class="iq-previous iq-button"></div>
        </div>
        <div data-ui="divider" class="iq-divider">:</div>
        <div data-ui="minute-select" class="iq-minute-select iq-box">
            <div data-ui="next" class="iq-next iq-button"></div>
            <input data-ui="current" class="iq-input iq-current" size="1">
            <div data-ui="previous" class="iq-previous iq-button"></div>
        </div>
        <div data-ui="divider" class="iq-divider">:</div>
        <div data-ui="second-select" class="iq-second-select iq-box">
            <div data-ui="next" class="iq-next iq-button"></div>
            <input data-ui="current" class="iq-input iq-current" size="1">
            <div data-ui="previous" class="iq-previous iq-button"></div>
        </div>
    </div>
</div>
