<div class="iq-widget-container">
    <div class="iq-widget-header">
        <div class="iq-icon" data-ui="icon"></div>
        <div class="iq-label" data-ui="label"></div>
    </div>
    <div class="iq-widget-content">
        <div class="iq-box-container">
            <div class="iq-box">
                <!-- slider track may be configured with attribute `data-orientation="horizontal"`
          or `data-orientation="vertical"` to configure orientation per layout -->
                <div class="iq-slider-track" data-ui="track" data-orientation="horizontal">
                    <div class="iq-scale-container">
                        <div class="iq-scale" data-ui="scale"></div>
                    </div>
                    <div class="iq-handle" data-ui="handle" tabindex="0">
                        <div class="iq-touch-zone" data-ui="touchzone"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="iq-unit" data-ui="unit"></div>
    </div>
</div>