<div data-ui="iq-widget-container" class="iq-widget-container">
    <div data-ui="iq-widget-content" class="iq-widget-content">
        <div data-ui="icon" class="iq-icon"></div>
        <div class="valign-container"><span data-ui="label" class="iq-label"></span></div>

        <!-- options anchor -->
        <div data-ui="options" class="iq-select-box-options">
            <div class="iq-selector"></div>
            <div data-ui="anchor" class="iq-anchor"></div>
        </div>

        <!-- option template -->
        <div data-ui="option" class="iq-option-icon-and-text iq-option">
            <div data-ui="icon" class="iq-popup-icon"></div>
            <div data-ui="value" class="iq-value"></div>
        </div>

        <!-- currently selected option -->
        <div data-ui="selected" class="iq-select-box-option iq-selected">
            <img data-ui="option-icon" class="iq-option-icon" alt="" src="">
            <div data-ui="value" class="iq-value"></div>
            <div data-ui="icon" class="iq-popup-icon"></div>
        </div>
    </div>        
</div>