<div class="iq-widget-container">
    <div class="iq-widget-header">
        <div data-ui="icon" class="iq-icon"></div>
        <span data-ui="label" class="iq-label"></span>
    </div>
    <div data-ui="option-container" class="iq-widget-content iq-option-container">
        <div data-ui="option" class="iq-select-option">
            <div class="iq-ratio-square">
                <svg viewBox="0 0 1 1"></svg>
                <div class="iq-select-box"></div>
            </div>
            <div data-ui="option-icon" class="iq-select-icon"></div>
            <div class="valign-container iq-select-label"><span data-ui="option-label"></span></div>
        </div>
    </div>
</div>
