<div class="widget-content">
    <div data-ui="out-button" class="button-element zoom-out">
        <svg class="button-icon" enable-background="new 0 0 24 24" version="1.1" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <g class="zoom-icon" fill="none" stroke="#3c3c3c">
                <path d="m5.9897 18.62 4.4286-4.3464" stroke-width="2.49" />
                <circle cx="13.957" cy="10.592" r="5.1007" stroke-width="1.8423" />
                <path d="m11.523 10.648 4.934 1e-6" stroke-width="1.5048" />
            </g>
        </svg>
    </div>
    <div data-ui="in-button" class="button-element zoom-in">
        <svg class="button-icon" enable-background="new 0 0 24 24" version="1.1" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <g class="zoom-icon" fill="none" stroke="#3c3c3c">
                <path d="m5.9897 18.62 4.4286-4.3464" stroke-width="2.49" />
                <circle cx="13.957" cy="10.592" r="5.1007" stroke-width="1.8423" />
                <path d="m13.99 8.1309v4.934" stroke-width="1.5048" />
                <path d="m11.523 10.648 4.934 1e-6" stroke-width="1.5048" />
            </g>
        </svg>
    </div>
</div>