<div class="widget-content">
    <div data-ui="scales-left" class="scales-left"></div>
    <div class="graphs-and-timeline">
        <div data-ui="graphs" class="graphs">
            <div data-ui="loading-indicator" class="loading-indicator">
                <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24"
                    style="enable-background:new 0 0 24 24;" xml:space="preserve">
                    <g>
                        <g>
                            <path class="indicator-icon"
                                d="M15,6l-3,4L9,6H15 M12,14l3,4H9L12,14 M19,4H5l6,8l-6,8h14l-6-8L19,4L19,4z" />
                        </g>
                    </g>
                </svg>
            </div>
            <div data-ui="trend-handle" class="trend-handle">
                <div class="content-box">
                    <div class="header">
                        <div class="selection-time">
                            <div data-ui="handle-date" class="handle-date"></div>
                            <div data-ui="handle-time" class="handle-time"></div>
                        </div>
                        <div data-ui="button" class="close-button">
                            <svg width="5.6133mm" height="5.5699mm" version="1.1" viewBox="0 0 5.6133 5.5699"
                                xmlns="http://www.w3.org/2000/svg">
                                <g transform="translate(-98.575 -67.361)">
                                    <g class="close-icon" fill="none" stroke-width=".6">
                                        <path d="m98.787 67.573 5.1456 5.1456" />
                                        <path d="m103.98 67.616-5.0606 5.1031" />
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="data-values" data-ui="data-values">
                        <div data-ui="data-box" class="data-box">
                            <div data-ui="label" class="data-label"></div>
                            <div data-ui="value" class="data-value"></div>
                            <div data-ui="unit" class="data-unit"></div>
                            <!-- <div class="line-marker"></div> -->
                        </div>
                    </div>
                    <div class="comment-anchor" data-ui="comment-anchor"></div>
                    <div data-ui="drag-handle" class="drag-handle">
                        <div class="handle-marker"></div>
                        <div class="handle-marker"></div>
                    </div>
                </div>
            </div>
            <div data-ui="marker-layer" class="marker-layer">
                <div data-ui="trend-marker-comment" class="trend-marker comment">
                    <div data-ui="marker-icon" class="marker-icon">
                        <svg width="10.427mm" height="9.6193mm" version="1.1" viewBox="0 0 10.427 9.6193" xmlns="http://www.w3.org/2000/svg">
                            <g transform="translate(-68.998 -73.72)" fill="none" class="marker-image" stroke-width=".765">
                                <path
                                    d="m69.394 74.113 9.6478-0.01063-0.0078 6.3135-5.0606-0.01063-2.9768 2.1794 1e-6 -2.1157-1.616-0.01063z" />
                                <path d="m 70.9,76.097566 h 6.5" stroke-width=".5" />
                                <path d="m 70.9,78.420434 h 6.5" stroke-width=".5" />
                            </g>
                        </svg>
                    </div>
                    <div data-ui="marker-info" class="marker-info">
                        <div data-ui="marker-content" class="marker-content">
                            <div data-ui="marker-title" class="marker-title"></div>
                            <div data-ui="marker-text" class="marker-text"></div>
                            <div data-ui="marker-close" class="marker-close">
                                <svg width="5.6133mm" height="5.5699mm" version="1.1" viewBox="0 0 5.6133 5.5699"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g transform="translate(-98.575 -67.361)">
                                        <g class="close-icon" fill="none" stroke-width=".6">
                                            <path d="m98.787 67.573 5.1456 5.1456" />
                                            <path d="m103.98 67.616-5.0606 5.1031" />
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div data-ui="marker-edit" class="marker-edit">
                                <svg width="23.976" height="23.977" version="1.1" viewBox="0 0 23.976 23.977" xmlns="http://www.w3.org/2000/svg">
                                    <path class="edit-icon" d="M 4.576,16.006 18.314,2.268 21.708,5.662 7.97,19.4 Z M 19.451,1.131 20.582,0 23.976,3.394 22.845,4.525 Z M 6.857,20.548 0,23.977 3.429,17.12 Z"/>
                                </svg>
                            </div>
                            <div class="marker-sub-text">
                                <span data-ui="marker-user" class="marker-user"></span>,
                                <span data-ui="marker-time" class="marker-time"></span>
                            </div>
                        </div>
                        
                        <div data-ui="marker-triangle" class="marker-triangle"></div>
                    </div>
                </div>
                <div data-ui="trend-marker-alarm" class="trend-marker alarm">
                    <div data-ui="marker-icon" class="marker-icon">
                        <svg width="10.427mm" height="9.6193mm" version="1.1" viewBox="0 0 10.427 9.6193" xmlns="http://www.w3.org/2000/svg">
                            <g transform="translate(-68.998 -73.72)" fill="none" class="marker-image" stroke-width=".765">
                                <path
                                    d="m69.394 74.113 9.6478-0.01063-0.0078 6.3135-5.0606-0.01063-2.9768 2.1794 1e-6 -2.1157-1.616-0.01063z" />
                                <path d="m 70.9,76.097566 h 6.5" stroke-width=".5" />
                                <path d="m 70.9,78.420434 h 6.5" stroke-width=".5" />
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div data-ui="x-axis" class="timeline"></div>
    </div>

    <div data-ui="scales-right" class="scales-right"></div>
</div>