<div class="widget-content">
    <div data-ui="play-button" class="button-element play">
        <svg class="button-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 28 28" xml:space="preserve">
            <polygon class="play-icon" points="7,3.5 21,14 7,24.5 " />
        </svg>
    </div>
    <div data-ui="pause-button" class="button-element pause">
        <svg class="button-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 16 16" xml:space="preserve">
            <g transform="matrix(.51365 0 0 1.4671 1.0765 -3.7372)">
                <rect class="pause-icon" x="5" y="5" width="6" height="6" stroke="#000" />
            </g>
            <g transform="matrix(.51365 0 0 1.4671 6.6605 -3.7372)">
                <rect class="pause-icon" x="5" y="5" width="6" height="6" stroke="#000" />
            </g>
        </svg>
    </div>
</div>