<div data-ui="label" class="label">Label</div>
<div class="quality-container">
    <div data-ui="icon-container" class="icon-container">
        <div data-ui="icon" class="attribute-icon icon"></div>
    </div>
    <div class="display-container">
        <div class="value-display-container" data-ui="value-display-container">
            <div data-ui="value-display-handle" class="value-display-handle">
                <div class="value-display">
                    <div class="value-content">
                        <div data-ui="actual-value" class="actual-value"></div>
                        <div data-ui="actual-value-unit" class="actual-value-unit"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="visualization">
            <div data-ui="ref-bar" class="ref-bar"></div>
            <div data-ui="deviation" class="deviation"></div>
            <div data-ui="set-value" class="point set-value">
                <img class="point-icon" src="pics/system/icons/arrow_up_black.svg"/>
                <div data-ui="set-point-value" class="set-point-value value"></div>
            </div>
        </div>
    </div>
</div>
