<div class="editor-title">
    <span data-ui="editor-title"></span><span data-ui="recipe-name" class="title-recipe-name"></span>
</div>
<div data-ui="editor-body" class="editor-body">
    <div data-ui="name-anchor" class="name-anchor"></div>
    <div data-ui="meta-anchor" class="meta-anchor"></div>
	<div data-ui="expand-collapse-anchor" class="expand-collapse-anchor"></div>
    <div data-ui="items-anchor" class="items-anchor"></div>
</div>
<div data-ui="buttons-anchor" class="buttons-anchor"></div>
