<div data-ui="burger-button" class="burger-button">
    <div class="icon burger-icon"></div>
</div>

<div class="menu-wrapper">
    <div data-ui="breadcrumbs" class="breadcrumbs">
        <div data-ui="selected-entry-layer-0" class="selected-entry-layer-0">Layer 0</div>
        <div>
            <div class="separator">></div>
            <div data-ui="selected-entry-layer-1" class="selected-entry-layer-1">Layer 1</div>
        </div>
    </div>
    <ul data-ui="menu-layer-0" class="menu-layer-0">
        <li data-ui="custom-content-group" class="custom-content-group"></li>
    </ul>
</div>