<div data-ui="label" class="label"></div>
<div class="rocker-button-box slim">
    <div data-ui="current" class="current">0</div>
    <div data-ui="next" class="next">
        <svg width="18" height="8" data-ui="arrowico" class="arrowico">
            <line x1="0" y1="8" x2="10" y2="0" stroke-width="2"></line>
            <line x1="8" y1="0" x2="18" y2="8" stroke-width="2"></line>
        </svg>
    </div>
    <div data-ui="previous" class="previous">
        <svg width="18" height="8" data-ui="arrowico" class="arrowico">
        <line x1="0" y1="0" x2="10" y2="8" stroke-width="2"></line>
        <line x1="8" y1="8" x2="18" y2="0" stroke-width="2"></line>
        </svg>
    </div>
</div>