<div class="style-wrapper">
    <div data-ui="searchbar-label" class="label"></div>
    <div class="value-box">
        <div data-ui="searchbar-auto-complete" class="auto-complete">
            <span data-ui="searchbar-mirror" class="mirror"></span><span data-ui="searchbar-suggestion" class="suggestion"></span>
        </div>
        <div data-ui="searchbar-user-input" class="user-input" spellcheck="false"></div>
        <div data-ui="clear-input" class="clear-input"></div>
    </div>
    <div class="result-wrapper">
        <div data-ui="searchbar-result-box" class="result-box"></div>
    </div>
</div>
