<div data-ui="option" class="select-radio-option option-icon-and-text">
    <div data-ui="radio-button" class="select-radio-button">
        <svg x="0" y="0" width="100%" height="100%" viewBox="0 0 18 18">
            <circle data-ui="boundaries" cx="9" cy="9" r="8"></circle>
            <circle data-ui="handle" cx="9" cy="9" r="4"></circle>
        </svg>
    </div>
    <div data-ui="option-icon" class="option-icon icon"></div>
    <div data-ui="label" class="radio-option-label">label</div>
</div>
