<div class="label-area">
    <!-- label -->
    <div data-ui="label" class="label">Label</div>

    <!-- icon -->
    <div data-ui="icon" class="control-icon icon"></div>
</div>

<!-- options anchor -->
<div data-ui="options" class="select-box-options">
    <div class="triangle"></div>
    <div data-ui="anchor" class="anchor"></div>
</div>

<!-- option template -->
<div data-ui="option" class="select-box-option option-icon-and-text">
    <div data-ui="icon" class="popup-icon"></div>
    <div data-ui="value" class="value">Option</div>
</div>

<!-- currently selected option -->
<div data-ui="selected" class="select-box-option selected">
    <div data-ui="option-icon" class="option-icon icon"></div>
    <div data-ui="value" class="value"></div>
    <div data-ui="icon" class="popup-icon">
        <svg x="0px" y="0px" width="100%" height="100%" viewBox="0 0 30 30" version="1.1"
             xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
            <g>
                <line x1="4" y1="8" x2="26" y2="8"/>
                <line x1="4" y1="15" x2="26" y2="15"/>
                <line x1="4" y1="22" x2="26" y2="22"/>
            </g>
        </svg>
    </div>
</div>
