<div data-ui="simple-table-head-wrapper" class="tblheadwrap">
    <table data-ui="simple-table-head" class="tblhead"></table>
</div>
<div data-ui="simple-table-filter-wrapper" class="tblfilterwrap">
    <table data-ui="simple-table-filter" class="tblfilter"></table>
</div>
<div data-ui="simple-table-body-wrapper" class="tblbodywrap">
    <table data-ui="simple-table-body" class="tblbody"></table>
</div>
<div data-ui="simple-table-pager" class="tblpager">
    <div class="pages">
    </div>
    <div data-ui="simple-table-total" class="total"></div>
    <div data-ui="simple-table-settings" class="settings">
        <select>
        </select>
    </div>
</div>