<div class="ctrl thread-list" data-ui="thread-list">
    <div class="text-container">
        <div class="title" data-ui="title"></div>
        <div class="message" data-ui="message"></div>
    </div>
    <div class="footer">
        <span class="username" data-ui="author"></span>
        <span>&nbsp;</span>
        <span class="timestamp" data-ui="timestamp"></span>
        <div data-ui="thread-edit" class="thread-edit">
            <svg width="23.976" height="23.977" version="1.1" viewBox="0 0 23.976 23.977" xmlns="http://www.w3.org/2000/svg">
                <path class="edit-icon" d="M 4.576,16.006 18.314,2.268 21.708,5.662 7.97,19.4 Z M 19.451,1.131 20.582,0 23.976,3.394 22.845,4.525 Z M 6.857,20.548 0,23.977 3.429,17.12 Z"/>
            </svg>
        </div>
    </div>
    <div class="replies" data-ui="replies"></div>
<div>
