<div data-ui="off-state" class="off-state">
     <img data-ui="toggle-button-icon" width="25" height="25" src="pics/system/controls/toggle-button/unlocked2.svg" class="icon">
    <div data-ui="label" class="toggle-label">off</div>
    <div style="clear: both;"></div>
</div>
<div data-ui="on-state" class="on-state">
     <img data-ui="toggle-button-icon" width="25" height="25" src="pics/system/controls/toggle-button/locked2.svg" class="icon">
    <div data-ui="label" class="toggle-label">on</div>
    <div style="clear: both;"></div>
</div>