<div class="dialog-background">
    <div class="dialog-content-container">
        <div data-ui="dialog-content" class="dialog-content">
            <div class="dialog-header">
                <div data-ui="dialog-box-title" class="dialog-box-title">Title</div>
            </div>
            <div data-ui="dialog-box-frame" class="dialog-box-frame">
                <div data-ui="dialog-box-content" class="dialog-box-content">
                    <div data-name="confirm-title"></div>
                    <div data-name="option-text" class="notification-text"></div>

                    <div data-ui="container" class="dialog-button-row" data-config-name="controls/container/flex-column-am">
                        <div class="margin-compensator">
                            <span data-name="dialog-options"></span>
                        </div>
                    </div>

                    <div data-ui="container" class="dialog-button-row" data-config-name="controls/container/inline-hright-aw-am">
                        <div class="margin-compensator">
                            <span data-name="dialog-ctrls"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
