<div class="dialog-background">
    <div class="dialog-content-container">
        <div data-ui="dialog-content" class="dialog-window">

            <div class="dialog-header">
                <div data-ui="dialog-box-title" class="dialog-box-title">Notification</div>
                <div data-ui="button" data-template="default/button_with_bg_pic" data-function="close" class="icon-only close"></div>
            </div>
            <div data-ui="dialog-box-frame" class="dialog-box-frame">
                <div data-ui="dialog-box-content" class="dialog-box-content">

                    <div class="dialog-content">

                        <div data-name="ask-save-title"></div>
                        <div data-name="ask-save-text"></div>

                    </div>
                    <div class="dialog-footer">
                        <div data-ui="button" data-name="save-button" data-label="${lbl_save}"></div>
                        <div data-ui="button" data-name="no-save-button" data-label="${lbl_no_save}"></div>
                        <div data-ui="button" data-name="cancel-button" data-label="${lbl_cancel}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>