<div class="trend-display container">

	<div class="td-component scale-area" data-ui="trend-display-scale">Scale</div>

	<div class="right-side">
		<div class="td-component step-line" data-ui="trend-display-program"></div>
        <div class="td-component timeline" data-ui="trend-display-timeline"></div>
		<div class="visualization-area">
			<div class="td-component continuous" data-ui="trend-display-continuous"></div>
			<div class="td-component handle" data-ui="trend-display-handle"></div>
		</div>
	</div>

</div>
