<div data-ui="state" class="state">
    <img data-ui="icon" width="30" height="30" src="./pics/system/controls/complex-table2/ico_service_outline.svg" class="icon">
    <div data-ui="label" class="toggle-label">1</div>
</div>
<div data-ui="state" class="state">
    <img data-ui="icon" width="30" height="30" src="./pics/system/controls/complex-table2/ico_warning_outline.svg" class="icon">
    <div data-ui="label" class="toggle-label">2</div>
</div>
<div data-ui="state" class="state">
    <img data-ui="icon" width="30" height="30" src="./pics/system/controls/complex-table2/ico_alarm_outline.svg" class="icon">
    <div data-ui="label" class="toggle-label">3</div>
</div>
