<div class="style-wrapper">
    <div data-ui="checkbox-label" class="checkbox-label">Label</div>
    <div class="box">
        <svg data-ui="checkbox-background" width="100%" height="100%" viewBox="0 0 16 16" class="checkbox-background">
            <g data-ui="checkbox-handle" class="checkbox-handle">
                <!--     <rect  x="16" y="16" width="6" height="6" />-->
                <rect x="5" y="5" width="6" height="6"/>
            </g>
        </svg>
    </div>
    <img data-ui="checkbox-icon" class="checkbox-icon" style="pointer-events: none;"/>
</div>
