<div class="triangle"></div>
<div data-ui="container" data-name="select-date-anchor" class="select-date-anchor centered">
    <div data-ui="select-date" data-name="select-date" class="integrated-calendar"></div>
</div>
<div data-ui="container" data-name="select-time-anchor" class="select-time-anchor centered border-bottom">
    <div data-ui="select-time" data-name="select-time" class=""></div>
</div>
<div data-ui="container" data-name="done-button-anchor" class="done-button-anchor centered">
    <div data-ui="button" data-name="done" data-label="${done}"></div>
</div>