<div class="triangle"></div>
<div data-ui="container" data-name="zoom-stages-button-anchor" class="zoom-stages-button-anchor">
    <div data-ui="button" data-label="${24h}" data-name="zoom-24h-button" class=""></div>
    <div data-ui="button" data-label="${12h}" data-name="zoom-12h-button" class=""></div>
    <div data-ui="button" data-label="${8h}" data-name="zoom-8h-button" class=""></div>
    <div data-ui="button" data-label="${4h}" data-name="zoom-4h-button" class=""></div>
    <div data-ui="button" data-label="${2h}" data-name="zoom-2h-button" class=""></div>
    <div data-ui="button" data-label="${1h}" data-name="zoom-1h-button" class=""></div>
</div>